<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net461" />
  <package id="Azure.Core" version="1.8.1" targetFramework="net461" />
  <package id="Baidu.AI" version="3.6.14" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>